<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Home</title>
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header>
            <div class="container">
                <div class="header-content">
                    <!-- Left Navigation -->
                    <nav class="nav-left">
                        <a href="/" class="nav-item active">AR Home</a>
                        <a href="/spacebuilder" class="nav-item">
                            Space Builder
                        </a>
                        <a href="/products" class="nav-item">
                            Products
                        </a>
                        <a href="/download" class="nav-item">
                            Download
                        </a>
                    </nav>

                </div>
            </div>
        </header>

        <main style="flex: 1;">
            <section class="section-1">
                <div class="section-content">
                    <h1 class="main-title">Transform Your Space into a Dream Home</h1>
                    <p class="subtitle">Using AR Magic, We Convert Your Bare Walls into a Cozy Haven. Our
                        Space-Optimizing Furniture Brings Compact Living to Life, Tailoring Your Unique Vision into
                        Reality!</p>
                </div>

                <div class="banner-section">
                    <img src="static/images/img/1.png" alt="Modern living room" class="banner-bg">
                    <div class="banner-content">
                        <h2 class="banner-title">Create & Customize Your Own Items with Our AR Furniture Builder</h2>
                        <div class="button-wrapper">
                            <a href="/products" class="cta-button">Shop Now</a>
                        </div>

                    </div>
                    <div class="icon-list">
                        <div class="icon-item">
                            <div class="icon-wrapper">
                                <img src="static/images/img/9.png" alt="Popular items">
                            </div>
                            <span class="icon-text">Popular</span>
                        </div>
                        <div class="icon-item">
                            <div class="icon-wrapper">
                                <img src="static/images/img/14.png" alt="Chair">
                            </div>
                            <span class="icon-text">Chair</span>
                        </div>
                        <div class="icon-item">
                            <div class="icon-wrapper">
                                <img src="static/images/img/8.png" alt="Workstation">
                            </div>
                            <span class="icon-text">Workstation</span>
                        </div>
                        <div class="icon-item">
                            <div class="icon-wrapper">
                                <img src="static/images/img/7.png" alt="Living room">
                            </div>
                            <span class="icon-text">Living room</span>
                        </div>
                        <div class="icon-item">
                            <div class="icon-wrapper">
                                <img src="static/images/img/10.png" alt="Bedroom">
                            </div>
                            <span class="icon-text">Bedroom</span>
                        </div>
                    </div>
                </div>

                <div class="services-section">
                    <div class="services-list">
                        <div class="service-item">
                            <img src="static/images/icons/trophy.png" alt="High Quality" class="service-icon">
                            <div class="service-content">
                                <h3 class="service-title">High Quality</h3>
                                <p class="service-desc">Crafted from top materials</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <img src="static/images/icons/verification.png" alt="Warranty Protection"
                                class="service-icon">
                            <div class="service-content">
                                <h3 class="service-title">Warranty Protection</h3>
                                <p class="service-desc">Over 8 Months</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <img src="static/images/icons/Shipping.png" alt="Free Shipping" class="service-icon">
                            <div class="service-content">
                                <h3 class="service-title">Free Shipping</h3>
                                <p class="service-desc">Order over N300,000</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <img src="static/images/icons/customer-service.png" alt="24/7 Support" class="service-icon">
                            <div class="service-content">
                                <h3 class="service-title">24/7 Support</h3>
                                <p class="service-desc">Dedicated support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2">
                <div class="section-2-header">
                    <h2 class="section-2-title">Top Trending</h2>
                    <p class="section-2-desc">Find a bright ideal to suit your taste with our great selection of
                        suspension, wall, floor and table lights.</p>
                    <div class="section-2-line"></div>
                </div>
                <div class="product-list">
                    <div class="product-item">
                        <img src="static/images/products/Bed1.jpg" alt="Product 1">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Bookshelf1.jpg" alt="Product 2">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Cabinet1.jpg" alt="Product 3">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Chair1.jpg" alt="Product 4">
                    </div>
                </div>
            </section>
            <section class="section-3">
                <div class="banner-section-2">
                    <img src="static/images/img/2.png" alt="Design Your Dream Space" class="banner-bg-2">
                    <div class="banner-content-2">
                        <h2 class="banner-title-2">Design Your Dream Furniture & Craft Your Perfect Space with AR</h2>
                        <p class="banner-desc-2">Explore Our Virtual Showroom & Discover the Latest Furniture Trends</p>
                        <a href="static/pages/space-builder.html" class="cta-button-2">Experience Now</a>
                    </div>
                </div>
            </section>
            <section class="section-4">
                <div class="section-4-header">
                    <h2 class="section-4-title">We Have Some<br>Awesome Products.</h2>
                    <p class="section-4-desc">Imagine, Customize, Experience – Your Dream Home Awaits in AR</p>
                </div>
                <div class="product-list">
                    <div class="product-item">
                        <img src="static/images/products/Desk1.jpg " alt="Product 1">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Sidetable1.jpg" alt="Product 2">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Sofa1.jpg" alt="Product 3">
                    </div>
                    <div class="product-item">
                        <img src="static/images/products/Table1.jpg" alt="Product 4">
                    </div>
                </div>
            </section>
            <section class="section-5">
                <div class="section-5-main">
                    <div class="section-5-title">Let’s make your space
                        amazing together.</div>
                    <a href="/product" class="cta-button-3">LET'S GET STARTED</a>
                </div>
            </section>
        </main>

        
    </div>
</body>
<script src="static/js/data.js"></script>
<script src="static/js/index.js"></script>



</html>